---
layout: pages
permalink: /contactar/
---
<p>
¿Contactamos?, lo tienes fácil, te dejo por aquí mis datos de contacto.
</p>
<p>
Si optas por ponerme un correo, puedes hacerlo a mi dirección personal: davidnilo94@gmail.com, o bien, a mi correo de trabajo, dmunoz@divisait.com
</p>
<p>
Si, por el contrario, prefieres ponerte en contacto conmigo, a través de una Red Social, te adjunto mis perfiles de <a href="https://www.facebook.com/david.nilo.3?ref=bookmarks">Facebook</a> y <a href="https://www.linkedin.com/in/david-nilo-muñoz-bastardo-b14428b7/">LinkedIn</a>.
</p>
Estaré encantado recibir vuestro feedback, seguir aprendiendo, y agregando puntos de vista a los planteamientos expuestos en el blog.
</p>
<p>
Tambien puedes contactarme mediante el siguiente formulario.
</p>
<h2>Formulario de contacto</h2>
{% include form.html %}
<br>
{% include validation.html %}
