---
layout: default
---
<div class="jumbotron jumbotron-fluid pb-4" id="principal">
  <div class="container">
    <br>
    <br>
    <h1 class="text-center" id="titulo">{{site.title}}</h1>
    <br>
    <img src="{{site.url}}{{site.baseurl}}/assets/imagenes/logos.png" class="img-fluid" alt="logos">
  </div>
</div>
<div class="container">
  <div class="card-deck">
    {% for post in site.posts limit:2 %}
      {% include card.html %}
    {% endfor %}
  </div>
  <br>
  <div class="jumbotron bg-dark py-3">
    <div class="row">
      <div class="col-6">
        <a class="btn btn-block btn-outline-success" href="{{site.url}}{{site.baseurl}}/biografia/">
          Biografía
        </a>
      </div>
      <div class="col-6">
        <a class="btn btn-block btn-outline-danger" href="{{site.url}}{{site.baseurl}}/que-es-davidnilo.com/">
          ¿Que es davidnilo.com?
        </a>
      </div>
    </div>
  </div>
  <div class="card-deck">
    {% for post in site.posts offset:2 limit:3 %}
      {% include card.html %}
    {% endfor %}
  </div>
  <br>
  <div class="text-center">
    <a href="{{site.url}}{{site.baseurl}}/noticias/" class="btn btn-outline-secondary">Mas noticias</a>
  </div>
</div>
<br>
