---
layout: default
---
<div class="jumbotron jumbotron-fluid pb-4" id="principal">
  <div class="container">
    <br>
    <h1 class="text-center" id="titulo">{{site.description}}</h1>
    <p class="text-white">Bienvenidos al blog de David Nilo, un espacio virtual, donde se reflexiona sobre el devenir de la tecnología y sus impactos en los mercados existentes. Trataremos de aportar Business Intelligence a cada post, reflexionando sobre cada tema.</p>
    <p class="text-white">Sabéis, que, desde el principio de los tiempos, la entrada de nuevos puntos de vista en los temas tratados, ahondan en los planteamientos que se exponen sobre estos. Y es este abandono de la endogamia, el que enriquece nuestras capacidades de raciocinio y análisis, provocando así, un progreso en el conocimiento.</p>
    <p class="text-white">Pues bien, dicho de forma sencilla, el objetivo de este blog, es congregar distintas opiniones y puntos de vista sobre los temas tratados, enriqueciendo el saber comunitario que vamos a ir creando, y dando pie, a nuevas ideas y formas de ver la realidad.</p>
    <p class="text-white">Por otro lado… como casi todo en esta vida, este blog tiene una razón de ser, y es que, con mi vida profesional ya iniciada, me parecía oportuno cultivar una marca personal, y que mejor forma de crearla y desarrollarla, que compartirla con vosotros.</p>
    <p class="text-white">Lo dicho, espero que os guste y estemos en contacto.</p>
  </div>
</div>
<div class="container">
  <div class="card-deck">
    {% for post in site.posts limit:2 %}
      {% include card.html %}
    {% endfor %}
  </div>
  <br>
  <div class="jumbotron bg-dark py-3">
    <div class="row">
      <div class="col-12">
        <a class="btn btn-block btn-outline-success" href="{{site.url}}{{site.baseurl}}/bibliografía/">
          bibliografía
        </a>
      </div>
      <div class="col-6">
          <!-- <a class="btn btn-block btn-outline-danger" href="{{site.url}}{{site.baseurl}}/Que-es-davidnilo.com/">
          ¿Que es davidnilo.com?
        </a> -->
      </div>
    </div>
  </div>
  <div class="card-deck">
    {% for post in site.posts offset:2 limit:3 %}
      {% include card.html %}
    {% endfor %}
  </div>
  <br>
  <div class="text-center">
    <a href="{{site.url}}{{site.baseurl}}/noticias/" class="btn btn-outline-secondary">Mas noticias</a>
  </div>
</div>
<br>
